
body{
    background-color: black;
    margin: 0;
}
.loadbar{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 154px;
    background-color: white;
    border: 1px solid black;
}
.load1{
    animation-name: load;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 154px;
    background-color: green;
    resize:none;
    left: 0;
}
@keyframes load {
    0%{
        width: 0px;
    }
    50%{
        width: 750px;
    }
    100%{
        width: 100%;
    }
}
.load2{
    animation-name: crushthem;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 154px;
    background-color: rgb(235, 5, 162);
    resize:none;
    left: 1500px;
    top: 0;
}
.loadbar2{
    position: absolute;
    width: 100%;
    height: 154px;
    background-color: white;
    border: 1px solid black;
    top: 1200px;
    display: flex;
    overflow: hidden;
}
@keyframes crushthem {
    0%{
        width: 100%;
    }
    50%{
        width: 750px;
    }
    100%{
        width: 0px;
    }
}
.load3{
    animation-name: crushthem;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 153px;
    background-color: rgb(122, 17, 154);
    resize:none;
    left: 0;
}
.load4{
    animation-name: load;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 153px;
    background-color: rgb(9, 242, 184);
    resize:none;
    left: 0;
}
.eye{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: white;
    border: 2px solid black;
    top: 225px;
    left: 450px;
    align-items: center;
}
.eye2{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: white;
    border: 2px solid black;
    top: 225px;
    left: 775px;
    align-items: center;
}
.close{
    width:100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(27, 142, 213);
    position: absolute;
    top: 50px;
    left: 50px;
    animation-name: rolleyes;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.pupil{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: black;
    position:absolute;
    left: 3px;
    top: 4px;
}
@keyframes rolleyes {
    0%{
       top: 15px;
       left: 12px;
    }
    20%{
        top: 5px;
        left: 50px;
        
    }
    40%{
        left: 95px;
        top: 35px;
    }
    60%{
        left: 50px;
        top: 95px;
    }
    80%{
        left: 5px;
        top: 45px;
    }
    100%{
        left: 12px;
        top: 15px;
    }

}
.iris{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 20px;
    animation-name: rolliris;
    animation-duration: 10s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
@keyframes rolliris {
    0%{
       top: 15px;
       left: 12px;
    }
    20%{
        top: 5px;
        left: 50px;
        
    }
    40%{
        left:75px;
        top: 35px;
    }
    60%{
        left: 50px;
        top: 70px;
    }
    80%{
        left: 5px;
        top: 45px;
    }
    100%{
        left: 12px;
        top: 15px;
    }

}
#box{
    height: 200px;
    width: 200px;
    background-color:rgb(255, 0, 208);
    position: absolute;
    left: 50px;
    top:500px;
    animation-name: changeradius;
    animation-duration: 5s;
    animation-delay : 2s;
    animation-iteration-count: infinite;
}
@keyframes changeradius {
    0%{
        border-radius: 0%;
    }
    50%{
        border-radius: 50%;
    }
    100%{
       border-radius: 0%;
    }
}
.rain{
    width: 400px;
    height: 400px;
    background: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 400px;
    left: 50px;
    gap: 35px;
}
.raindrops{
    height: 200px;
    width: 200px;
    border-radius: 0% 100% 100% 100%;
    background-color:aqua;
    animation-name: c;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes c {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#f{
    content: 🍓;
    position: absolute;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
    animation-name: size;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    left: 700px;
    top: 500px;
    font-size: 10rem;
}
@keyframes size{
    0%{
        font-size: 10rem;
    }
    50%{
        font-size: 20rem;
    }
    100%{
        font-size: 10rem;
    }
}
@keyframes change{
    0%{
        content: "😛";
    }
    50%{
        content: "😜";
    }
    100%{
        content: "😝";
    }
}
#emoji::after{
    font-size: 10rem;
    content: "😏";
    animation-name: change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}